<!--/* Skills.json - rendered into the IDE editor pane with fake syntax highlighting */-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<article class="doc doc-json" th:fragment="content"><pre>{
  <span class="k">"languages"</span>: [<span class="s">"Java"</span>, <span class="s">"Python"</span>, <span class="s">"JavaScript"</span>, <span class="s">"SQL"</span>, <span class="s">"HTML"</span>, <span class="s">"CSS"</span>, <span class="s">"C++"</span>],
  <span class="k">"frameworks"</span>: [<span class="s">"Spring Boot"</span>, <span class="s">"Spring MVC"</span>, <span class="s">"JUnit"</span>, <span class="s">"Selenium"</span>, <span class="s">"Bootstrap"</span>, <span class="s">"jQuery"</span>, <span class="s">"Log4j"</span>],
  <span class="k">"cloud"</span>: {
    <span class="k">"provider"</span>: <span class="s">"AWS"</span>,
    <span class="k">"focus"</span>: [<span class="s">"EC2"</span>, <span class="s">"deployment pipelines"</span>, <span class="s">"on-prem to cloud migrations"</span>]
  },
  <span class="k">"databases"</span>: [<span class="s">"Oracle"</span>, <span class="s">"PostgreSQL"</span>, <span class="s">"DB2"</span>, <span class="s">"MySQL"</span>],
  <span class="k">"tools"</span>: [<span class="s">"Git"</span>, <span class="s">"Jenkins"</span>, <span class="s">"Maven"</span>, <span class="s">"Nexus"</span>, <span class="s">"Jira"</span>, <span class="s">"DBeaver"</span>, <span class="s">"PuTTY"</span>, <span class="s">"FileZilla"</span>],
  <span class="k">"webServers"</span>: [<span class="s">"Apache Tomcat"</span>, <span class="s">"IBM WebSphere"</span>, <span class="s">"RedHat JBoss"</span>],
  <span class="k">"ides"</span>: [<span class="s">"IntelliJ IDEA"</span>, <span class="s">"VS Code"</span>, <span class="s">"Eclipse"</span>],
  <span class="k">"operatingSystems"</span>: [<span class="s">"Linux"</span>, <span class="s">"macOS"</span>, <span class="s">"Windows"</span>],
  <span class="k">"practices"</span>: [<span class="s">"Agile / Scrum"</span>, <span class="s">"regression testing"</span>, <span class="s">"mentoring"</span>, <span class="s">"cloud migration"</span>],
  <span class="k">"yearsExperience"</span>: <span class="n">5</span>,
  <span class="k">"openToWork"</span>: <span class="b">false</span>
}</pre>
</article>
</body>
</html>
