/*
 *******************************************************************************
 * Project: Portfolio Website
 *
 * Author: Collin Turner
 * =============================================================================
 * (c) Copyright 2024 CollinDTurner All rights reserved.
 *******************************************************************************
*/

:root {

    /* colors */
    --background-color: #222831;

    --white: #fff;
    --light: #eee;
    --light-gray: #98a5b8;
    --gray: #414d5e;
    --dark-gray: #2c3440;
    --dark: #222831;
    --darker: #181c22;
    --black: #0d0f13;

    --light-blue: #76ABAE;
    --light-green: #8EDCAA;
    --purple: #df8dff;
    --red: #C23535;

    --black-transparent: #00000010;
    
    /* fonts */
    --font-default: 'Poppins', sans-serif;
    --font-text: 'Montserrat', sans-serif;
    --font-header: 'Roboto Flex', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--font-default);
    font-weight: 300;
    color: var(--light);
}

button {
    background: none;
    cursor: pointer;
    border-radius: 5px;
}

.open {
    display: '';
}

.closed {
    display: none !important;
}

.dark-gray {
    background-color: var(--dark-gray);
    color: var(--light-gray)
}

.darker {
    background-color: var(--darker);
    color: var(--light);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.overflow {
    text-wrap: nowrap;
    overflow: auto;
}

/* tooltips */
.tool-tip {
    position: relative;
}

.tool-tip .tool-tip-text-right,
.tool-tip .tool-tip-text-left,
.tool-tip .tool-tip-text-top,
.tool-tip .tool-tip-text-bottom,
.tool-tip .tool-tip-text-bottom-left {
    opacity: 0;
    background-color: var(--darker);
    color: var(--light);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-size: .7rem;
    font-family: var(--font-default);
}

.tool-tip:hover .tool-tip-text-right,
.tool-tip:hover .tool-tip-text-left,
.tool-tip:hover .tool-tip-text-top,
.tool-tip:hover .tool-tip-text-bottom,
.tool-tip:hover .tool-tip-text-bottom-left {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.tool-tip-text-right {
    transform: translate(10%);
}

.tool-tip-text-top {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -160%);
}

.tool-tip-text-bottom {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
}

.tool-tip-text-bottom-left {
    left: 50%;
    top: 50%;
    transform: translate(-100%, 100%);
}

@keyframes fadeIn {
    0% {   opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% {   opacity: 0; }
    100% { opacity: 1; }
}

/* icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
    color: var(--light-gray);
}

.icon {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.flex-div-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}

.scrollbar {
    scrollbar-color: var(--dark-gray) var(--darker);
    scrollbar-width: thin;
}

#ide-container {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-color: var(--background-color);
}

#header {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    padding: 0px 10px;
}

#title {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light);
}

#header-nav-left,
#header-nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 100%;
}

#header-nav-right {
    gap: 10px;
}

#header-nav-left button,
#header-nav-right button,
#sidebar-nav button {
    color: var(--light-gray);
    padding: 5px;
}

#header-nav-left button:hover {
    background-color: var(--gray);
}

#header-nav-right button:hover,
#sidebar button:hover{
    color: var(--light);
}

/* MAIN CONTENT */
#main-content {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
}

#sidebar {
    width: 100px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#sidebar-nav .active {
    border-left: solid 2px var(--light);
}

#primary-panel {
    width: 13%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    border: none;
}

.primary-panel-container {
    width: 90%;
    height: 90%;
}

.primary-panel-content {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
}

#main-editor-section {
    flex-grow: 1;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}

#replaceable-content-container {
    flex-grow: 1;
    position: relative;
    overflow: auto;
}

.replaceable-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    text-wrap: nowrap;
}

/* Mini Map */
#mini-map-container {
    width: 10%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 88%;
    position: sticky;
    height: 80%;
}

#mini-map {
    position: relative;
    overflow: hidden;
    background-color: var(--black-transparent);
    height: 80%;
    width: 90%;
}

#mini-map-content {
    position: absolute;
    transform: scale(0.13);
    transform-origin: top left;
    width: 1000%;
}

#mini-map-viewport {
    position: absolute;
    cursor: grab;
    background-color: var(--black-transparent);
    width: 100%;
}