/*
 *******************************************************************************
 * Project: Portfolio Website
 *
 * Author: Collin Turner
 * =============================================================================
 * (c) Copyright 2025 CollinDTurner All rights reserved.
 *******************************************************************************
*/

:root {

    /* colors */
    --color-background: #eee;
    --color-background-dark: #222831;

    --color-white: #fff;
    --color-light: #eee;
    --color-light-gray: #98a5b8;
    --color-gray: #414d5e;
    --color-dark-gray: #2c3440;
    --color-dark: #222831;
    --color-darker: #181c22;
    --color-less-black: #13161c;
    --color-black: #0d0f13;

    --color-light-blue: #76ABAE;
    --color-light-green: #8EDCAA;
    --color-bright-green: #acf464;
    --color-green: #1ca03b;
    --color-purple: #b702ff;
    --color-red: #C23535;

    --color-white-transparent: #ffffff4D;
    --color-black-transparent: #0000004D;

    --color-transparent: #ffffff00;

    /* fonts */
    --font-poppins: 'Poppins', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto-flex: 'Roboto Flex', sans-serif;
    --font-michroma: 'Michroma', sans-serif;

    /* border radius */
    --border-radius-circle: 100rem;
    --border-radius-default: 0.5rem;

    /* box shadow */
    --webkit-box-shadow-default: 0px 5px 10px 0px #414d5e70;
    --box-shadow-default: 0px 5px 10px 0px #414d5e70;
    --webkit-box-shadow-default-hover: 0px 1px 5px 0px #414d5e70;
    --box-shadow-default-hover: 0px 1px 5px 0px #414d5e70;

    /* gradients (used with css attr - background) */
    --moz-linear-gradient-default: -moz-linear-gradient(45deg, var(--color-green) 50px, var(--color-white) 50px);
    --webkit-linear-gradient-default: -webkit-linear-gradient(45deg, var(--color-green) 50px, var(--color-white) 50px);
    --linear-gradient-default: linear-gradient(45deg, var(--color-green) 50px, var(--color-white) 50px);
    --linear-gradient-default-fill: linear-gradient(45deg, var(--color-green) calc(100% - 50px), var(--color-transparent) 50px);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--font-poppins);
    font-weight: 300;
    color: var(--color-black);
}

body {
    background-color: var(--color-background);
    width: 100%;
    min-height: 100vh;
}

header, footer {
    padding: 2rem;
    margin-block: 2rem;
}

header {
    background: -moz-linear-gradient(bottom, var(--color-background) 0%, var(--color-white) 10%);
    background: -webkit-linear-gradient(bottom, var(--color-background) 0%, var(--color-white) 10%);
    background: linear-gradient(to top, var(--color-background) 0%, var(--color-white) 10%);
}

footer {
    background: -moz-linear-gradient(top, var(--color-background) 0%, var(--color-white) 10%);
    background: -webkit-linear-gradient(top, var(--color-background) 0%, var(--color-white) 10%);
    background: linear-gradient(to bottom, var(--color-background) 0%, var(--color-white) 10%);
}

button {
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: var(--border-radius-default);
    -webkit-box-shadow: var(--webkit-box-shadow-default);
    box-shadow: var(--box-shadow-default);
    transition: box-shadow ease 0.3s;
}

button:hover {
    -webkit-box-shadow: var(--webkit-box-shadow-default-hover);
    box-shadow: var(--box-shadow-default-hover);
}

button > p {
    margin: 0;
}

button > span {
    color: var(--color-white) !important;
}

button.primary, button.secondary {
    display: flex;
}

button.primary {
    background-color: var(--color-green);
}

button.secondary {
    background-color: var(--color-light-green);
}

button.primary-alt, button.secondary-alt {
    border-radius: var(--border-radius-circle);
}

button.primary-alt {
    background-color: var(--color-bright-green);
}

button.secondary-alt {
    background-color: var(--color-light-blue);
}

h1, h2, h3, h4 {
    font-family: var(--font-roboto-flex);
    font-weight: 300;
    letter-spacing: 0.5rem;
}

h1.display-1, h1.display-2 {
    font-family: var(--font-montserrat);
}

h1.display-1 {
    font-weight: 900;
    font-size: 7rem;
}

h1.display-2 {
    font-weight: 700;
    font-size: 5rem;
}

.poppins {
    font-family: var(--font-poppins);
}

.michroma {
    font-family: var(--font-michroma);
}

.montserrat {
    font-family: var(--font-montserrat);
}

.roboto {
    font-family: var(--font-roboto-flex);
}

.shadow {
    -webkit-box-shadow: var(--webkit-box-shadow-default);
    box-shadow: var(--box-shadow-default);
}

.shadow:hover {
    -webkit-box-shadow: var(--webkit-box-shadow-default-hover);
    box-shadow: var(--box-shadow-default-hover);
}

/* header logo */
a.logo-link {
    display: flex;
}

img.logo {
    width: 50px;
}

/* generic classes */
.light-gray {
    background-color: var(--color-light-gray);
    color: var(--color-darker);
}

.dark-gray {
    background-color: var(--color-dark-gray);
    color: var(--color-light-gray);
}

.dark-gray {
    background-color: var(--color-dark-gray);
    color: var(--color-light-gray);
}

.darker {
    background-color: var(--color-darker);
    color: var(--color-light);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text-light-green {
    color: var(--color-light-green);
}

.text-muted {
    color: var(--color-dark-gray);
}
/* end generic classes */


.style-guide-content-header {
    border-bottom: 1px solid var(--color-black);
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: inline-block;
}

.style-guide-color-swatch {
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-default);
    border: solid 1px var(--color-black);
}

.style-guide-font-container > h1,
.style-guide-font-container > p {
    padding: 0;
}

/* tooltips */
.tool-tip {
    position: relative;
}

@keyframes fadeIn {
    0% {   opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% {   opacity: 0; }
    100% { opacity: 1; }
}
/* end tool-tips */

/* icons */
.material-symbols-outlined,
.material-symbols-rounded {
    color: var(--color-light-gray);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
}

.icon {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

#social-icons {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3rem;
}

#social-icons svg:hover {
    color: var(--color-light-green);
    cursor: pointer;
}
/* end icons */

/* flex content */
.row,
.column,
.flex-center {
    display: flex;
    width: 100%;
    height: 100%;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}
/* end flex content */

/* ascii art */
.ascii-art {
    font-family: monospace;
    white-space: pre;
}
/* end ascii art */

/* MAIN CONTENT */
/*container */
#main-content {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
}

/* PRELOADER */
/* start preloader */
#preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-less-black);
    background: -moz-linear-gradient(90deg, var(--color-black) 0%, var(--color-gray) 100%);
    background: -webkit-linear-gradient(90deg, var(--color-black) 0%, var(--color-gray) 100%);
    background: linear-gradient(90deg, var(--color-black) 0%, var(--color-gray) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0f13",endColorstr="#414d5e",GradientType=1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-michroma);
    gap: 2rem;
    color: var(--color-white);
    z-index: 100;
    letter-spacing: 3px;
}

#preloader svg {
    width: 300px;
    height: 300px;
    stroke: var(--color-white);
    stroke-width: 3px;
    fill-opacity: 0;
    stroke-dasharray: 5000;
    animation: drawSVG 4s linear;
}

#preloader-title {
    overflow: hidden;
}

@keyframes drawSVG {
    0% {
        stroke-dashoffset: 5000;
    }
    100% {
        stroke-dashoffset: 0;
    }
};
/* end preloader */