<!-- Start of the git section -->
<div th:fragment="git">
    <!-- insert welcome header -->
    <h1>Git Section Comin Soon</h1>
    
</div>
<!-- End of the git section -->

<!-- Start of the git primary panel section -->
<div th:fragment="git-panel" class="primary-panel-content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa eget egestas purus viverra. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Lacinia quis vel eros donec ac. Fringilla ut morbi tincidunt augue interdum velit euismod. Facilisis volutpat est velit egestas dui id ornare arcu. Felis eget nunc lobortis mattis. Enim nunc faucibus a pellentesque sit amet. Pellentesque elit ullamcorper dignissim
    </p>
</div>
<!-- End of the git primary panel section -->