<!-- Start of the profile section -->
<div th:fragment="profile" id="profile-container">
    <section id="left-column" class="column">
        <div id="profile-left-top" class="column flex-center p-y">
            <img id="profile-icon" th:src="@{/images/headshot.jpg}" alt="collin turner's profile">
            <h3 class="text-light-green">Collin Turner</h3>
            <p class="profile-content">Sr. Software Engineer</p>
            <p class="profile-content">Burlington, Vermont</p>
        </div>
        <div id="profile-left-middle">
            <div id="skill-circles">
                <div class="percent-circle">
                    <svg veiwBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <circle class="percent-circle p83" cx="50%" cy="50%" r="30%"></circle>
                    </svg>
                    <p class="percent-number">83%</p>
                    <p class="percent-circle-title">Back-end</p>
                </div>
                <div class="percent-circle">
                    <svg veiwBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <circle class="percent-circle p76" cx="50%" cy="50%" r="30%"></circle>
                    </svg>
                    <p class="percent-number">76%</p>
                    <p class="percent-circle-title">Front-end</p>
                </div>
                <div class="percent-circle">
                    <svg veiwBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <circle class="percent-circle p68" cx="50%" cy="50%" r="30%"></circle>
                    </svg>
                    <p class="percent-number">68%</p>
                    <p class="percent-circle-title">Server</p>
                </div>
            </div>
            <hr/>
            <div id="progress-bar-container">
                <div class="progress-bar-row">
                    <div>
                        <p>Java</p>
                        <p>95%</p>
                    </div>
                    <span class="progress-bar-95"></span>
                </div>
                <div class="progress-bar-row">
                    <div>
                        <p>HTML</p>
                        <p>91%</p>
                    </div>
                    <span class="progress-bar-91"></span>
                </div>
                <div class="progress-bar-row">
                    <div>
                        <p>CSS</p>
                        <p>84%</p>
                    </div>
                    <span class="progress-bar-84"></span>
                </div>
                <div class="progress-bar-row">
                    <div>
                        <p>JS</p>
                        <p>80%</p>
                    </div>
                    <span class="progress-bar-80"></span>
                </div>
                <div class="progress-bar-row">
                    <div>
                        <p>Python</p>
                        <p>73%</p>
                    </div>
                    <span class="progress-bar-73"></span>
                </div>
            </div>
            <hr/>
            <div class="checkbox-container">
                <div class="checkbox-row">
                    <span class="material-symbols-rounded">check</span>
                    <p>Tomcat, WAS, Jboss</p>
                </div>
                <div class="checkbox-row">
                    <span class="material-symbols-rounded">check</span>
                    <p>JQuery, Ajax, JSTree, Threejs</p>
                </div>
                <div class="checkbox-row">
                    <span class="material-symbols-rounded">check</span>
                    <p>Spring MVC, Spring Boot</p>
                </div>
                <div class="checkbox-row">
                    <span class="material-symbols-rounded">check</span>
                    <p>BootStrap, SASS, Gulp</p>
                </div>
            </div>
        </div>
        <div id="profile-left-bottom">
            <div th:replace="~{fragment/social :: social-link-icons}"></div>
        </div>
    </section>

    <section id="middle-column">
        <div class="column">
            <div>
                testing
            </div>
            <div>
                testing
            </div>
        </div>
    </section>

    <section id="right-column">
        right
    </section>
</div>
<!-- End of the profile section -->

<!-- Start of the profile hover card section -->
<div th:fragment="profile-hover-card" id="profile-hover-card">
    <div id="profile-card-top">
        <img id="profile-card-image" th:src="@{/images/headshot.jpg}" alt="collin turner's profile">
    </div>
    <div id="profile-card-content">
        <h3 class="text-light-green">Collin Turner</h3>
        <p class="profile-content">Sr. Software Engineer</p>
        <p class="profile-content">Burlington, Vermont</p>
        <hr>
        <div class="row p-bottom">
            <span class="profile-card-icon material-symbols-rounded">mail</span>
            <a th:replace="~{fragment/email :: anchorTag}" th:classappend="profile-content"></a>
        </div>
        <div class="row p-bottom">
            <span class="profile-card-icon material-symbols-rounded">phone_iphone</span>
            <p class="profile-content">(802) 338-1608</p>
        </div>
        <div class="row">
            <button id="profile-card-resume-button" class="profile-content">
                <span id="profile-card-resume-icon" class="profile-card-icon material-symbols-rounded">article</span>
                Resume
            </button>
        </div>
    </div>
</div>
<!-- End of the profile hover card section -->