<!-- Start of the README section (main load screen) -->
<div th:fragment="readme" style="height:4000px">
    <!-- insert welcome header -->
    <h1 th:replace="~{fragment/welcome :: welcome-title}"/>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa eget egestas purus viverra. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Lacinia quis vel eros donec ac. Fringilla ut morbi tincidunt augue interdum velit euismod. Facilisis volutpat est velit egestas dui id ornare arcu. Felis eget nunc lobortis mattis. Enim nunc faucibus a pellentesque sit amet. Pellentesque elit ullamcorper dignissim
    </p>

</div>
<!-- End of the README section -->

<!-- Start of the README primary panel section -->
<div th:fragment="readme-panel" class="primary-panel-content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa eget egestas purus viverra. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Lacinia quis vel eros donec ac. Fringilla ut morbi tincidunt augue interdum velit euismod. Facilisis volutpat est velit egestas dui id ornare arcu. Felis eget nunc lobortis mattis. Enim nunc faucibus a pellentesque sit amet. Pellentesque elit ullamcorper dignissim
    </p>
</div>
<!-- End of the README primary panel section -->