<!-- Start of the README section (main load screen) -->
<div th:fragment="readme">
    <!-- insert welcome header -->
    <h1 th:replace="~{fragment/welcome :: welcome-title}"/>

    <div id="readme-container">
        <h2>README.md</h2>
        <pre>
            # Collin Turner

            Welcome to my profile!

            ## About Me
            I am a software developer with a passion for creating innovative solutions. I specialize in full-stack development, and I love working with JavaScript, HTML, and CSS for the front-end and Java Spring and Spring Boot for the back-end.

            ## Skills
            - JavaScript
            - HTML/CSS
            - Java
            - Python

            ## Some-what Skills
            - React
            - Node.js

            ## Projects
            1. **Project One**: Description of project one.
            2. **Project Two**: Description of project two.
            3. **Project Three**: Description of project three.

            ## Connect with me
            You can reach me at [your-email@example.com](mailto:your-email@example.com) or connect with me on [LinkedIn](https://www.linkedin.com/in/yourprofile).
        </pre>
    </div>

</div>
<!-- End of the README section -->