<!-- Start of the resume section -->
<div th:fragment="resume">
    <div id="resume-container">
        <section id="resume-header" class="resume-section">
            <h1 id="title-name">Collin D. Turner</h1>
            <p><a href="tel:+18023381608">802.338.1608</a> • <a href="mailto:collin.turn@gmail.com">collin.turn@gmail.com</a> • Burlington, VT</p>
        </section>

        <section class="resume-section">
            <h2 class="section-title">Professional Experience</h2>
            <div class="job">
                <h3>Sr. Engineer Software & Application</h3>
                <p><strong>GLOBALFOUNDRIES | Essex Junction, VT</strong> <span>2020 - present</span></p>
                <ul>
                    <li>Lead member of a team to support multiple engineering applications.</li>
                    <li>Managed the migration of on-prem applications to the AWS cloud.</li>
                    <li>Support broad, team applications with bug fixes and new features.</li>
                    <li>Train new hires and environment setup during the on-boarding process.</li>
                    <li>Built out AWS servers with necessary tools and software needed to support our application deployments process.</li>
                    <li>Migrating outdated and deprecated technologies to newer and more stable technologies.</li>
                    <li>Expand our regression test suite with on-going code development.</li>
                    <li>Lead team scrums in a loose Agile environment.</li>
                </ul>
            </div>
            <!-- Repeat similar structure for other job roles -->
        </section>

        <section class="resume-section">
            <h2>Education</h2>
            <p><strong>University of Vermont</strong><br>Bachelor’s Degree, Computer Science, May 2017<br>Certificate in Cyber Security</p>
        </section>

        <section class="resume-section">
            <h2>Skills</h2>
            <p><strong>Languages:</strong> Java, Python, Javascript, SQL, HTML, CSS, Javascript, C++</p>
            <p><strong>Software:</strong> Jira, Git, Jenkins, Nexus, Maven, TortoiseGit, PuTTy, FileZilla, DBeaver</p>
            <p><strong>IDEs:</strong> Eclipse, VSCode, IntelliJ</p>
            <p><strong>Web Server:</strong> IBM WebSphere, Apache Tomcat, RedHat JBoss</p>
            <p><strong>Database:</strong> Oracle, PostgreSQL, DB2, MySQL</p>
            <p><strong>Operating System:</strong> Microsoft, Linux, Mac OS</p>
            <p><strong>Frameworks:</strong> Junit, Selenium, Spring MVC, Spring Boot, Bootstrap, Log4j, JQuery</p>
            <p><strong>Cloud:</strong> AWS</p>
        </section>

        <section class="resume-section">
            <h2>Relevant Projects</h2>
            <p><strong>ESD Lab Cloud Migration</strong><br>Lead Dev/Trainer</p>
            <ul>
                <li>Involved in supporting the current implementation, as well as bringing on and training three new people while moving an application suite to the cloud.</li>
            </ul>
        </section>

        <section class="resume-section">
            <h2>Awards</h2>
            <ul>
                <li>Appreciation Award x 3, GLOBALFOUNDRIES, June & July 2020, April 2022</li>
                <li>Spotlight Award, GLOBALFOUNDRIES, June 2024</li>
            </ul>
        </section>
    </div>
</div>