<!--
 *******************************************************************************
 * Project: Portfolio Site
 *
 * Author: Collin Turner
 * =============================================================================
 * (c) Copyright 2025 CollinDTurner All rights reserved.
 *******************************************************************************
-->
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout}">
    
    <head>
        <title>API Results</title>
    </head>

    <body>

        <!-- INDEX Page main content plug -->
        <th:block layout:fragment="content">
           <div th:text="${stockOverview}"></div>
        </th:block>

    </body>

</html>