<!--
 *******************************************************************************
 * Project: Portfolio Site
 *
 * Author: Collin Turner
 * =============================================================================
 * (c) Copyright 2024 GearBlob All rights reserved.
 *******************************************************************************
-->
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <!-- insert head -->
    <head th:replace="~{fragment/head :: head}"/>

    <!-- start of body -->
    <body id="ide-container">
        <!-- IDE header -->
        <header id="header" class="dark-gray">
            <!-- start ide header nav -->
            <div id="header-nav-left">
                <a href="/">
                    <img class="icon" th:src="@{/images/ide.png}" alt="collin turner's ide website icon">
                </a>
                <button id="file">File</button>
                <button id="edit">Edit</button>
                <button id="view">View</button>
                <button id="run">Run</button>
                <button id="help">Help</button>
            </div>
            <!-- end ide header nav -->
            <!-- start title of site-->
            <div id="title-container">
                <h1 id="title">Collin's Integrated Development Environment</h1>
            </div>
            <!-- end title of site-->
            <!-- start header right nav -->
            <div id="header-nav-right">
                <button id="toggle-primary-panel" class="material-symbols-outlined tool-tip">
                    side_navigation
                    <span class="tool-tip-text-bottom-left">Toggle Primary Sidebar Panel</span>
                </button>
                <button id="toggle-secondary-panel" class="material-symbols-outlined tool-tip">
                    page_info
                    <span class="tool-tip-text-bottom-left">Toggle Bottom Panel</span>
                </button>
                <button id="customize-layout" class="material-symbols-outlined tool-tip">
                    stacks
                    <span class="tool-tip-text-bottom-left">Customize Layout</span>
                </button>
                <button id="code-cube" class="material-symbols-outlined tool-tip">
                    deployed_code
                    <span class="tool-tip-text-bottom-left">Coming Soon</span>
                </button>
            </div>
            <!-- end header right nav -->
        </header>
        <!-- end IDE header -->
        
        <!-- start main content -->
        <div id="main-content">
            <!-- IDE sidebar -->
            <section id="sidebar" class="dark-gray">
                <button id="readme" class="material-symbols-outlined tool-tip">
                    home
                    <span class="tool-tip-text-right">README page</span>
                </button>
                <button id="git" class="material-symbols-outlined tool-tip">
                    conversion_path
                    <span class="tool-tip-text-right">Git Information</span>
                </button>
                <button id="resume" class="material-symbols-outlined tool-tip">
                    article
                    <span class="tool-tip-text-right">My Resume</span>
                </button>
                <button id="settings" class="material-symbols-outlined tool-tip">
                    settings
                    <span class="tool-tip-text-right">Settings</span>
                </button>
            </section>
            <!-- end IDE sidebar -->

            <!-- main replacable content area -->
            <div class="row">
                <!-- IDE primary side panel -->
                <section id="primary-panel" class="darker resizable scrollbar ui-widget-content">
                    <div id="primary-panel-jstree"></div>
                </section>
                <!-- end primary side panel -->

                <!-- tabs and main editor sections -->
                <div id="tabs-main-editor-container" class="column">
                    
                    <!-- tabs section -->
                    <section id="tabsSection" class="row">
                    </section>
                    <!-- end tabs section -->

                    <!-- start main editor section -->
                    <section id="main-editor-section">
                        <!-- start of replacable content -->
                        <div id="replaceable-content-container" class="scrollbar">
                            <div id="readme-section" class="replaceable-content closed">
                                <div th:replace="~{fragment/readme :: readme}"/>
                            </div>
                            <div id="git-section" class="replaceable-content closed">
                                <div th:replace="~{fragment/git :: git}"/>
                            </div>
                            <div id="resume-section" class="replaceable-content closed">
                                <div th:replace="~{fragment/resume :: resume}"/>
                            </div>
                            <div id="settings-section" class="replaceable-content closed">
                                <div th:replace="~{fragment/settings :: settings}"/>
                            </div>

                            <!-- start of scroll bar mini map -->
                            <div id="mini-map-container">
                                <div id="mini-map">
                                    <div id="mini-map-content"></div>
                                    <div id="mini-map-viewport"></div>
                                </div>
                            </div>
                            <!-- start of scroll bar mini map -->
                        </div>
                        <!-- end of replacable content -->
                    </section>
                    <!-- end main editor section -->
                </div>
                <!-- end of tabs and main editor sections -->
            </div>
            <!-- end main replacable content area -->

            <!-- start bottom panel -->
            <section id="secondary-panel" class="dark-gray resizable closed">
                
            </section>
            <!-- end bottom panel -->

        </div>
        <!-- end main content -->
    </body>
    <!-- end of body (IDE Container) -->

</html>