<!--
 *******************************************************************************
 * Project: Portfolio Site
 *
 * Author: Collin Turner
 * =============================================================================
 * (c) Copyright 2025 CollinDTurner All rights reserved.
 *******************************************************************************
-->
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main-layout}">
    
    <head>
        <title>Home</title>
    </head>

    <body>

        <!-- INDEX Page main content plug -->
        <th:block layout:fragment="content">
            
            <h1>Collin Turner's Portfolio</h1>

        </th:block>

    </body>

</html>